<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/uikit/css/uikit.min.css">
    <link
            href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext"
            rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<header>
    <div class="uk-visible@s uk-card uk-card-default">
        <div class="uk-container">
            <nav class="uk-navbar">
                <div class="uk-navbar-left">
                    <ul class="uk-navbar-nav uk-navbar-nav-nano uk-top-navbar">
                        <li>
                            <a title="Гарантия от магазина" href="originalnost-produkczii.html">Гарантия оригинальной
                                продукции</a>
                        </li>
                        <li>
                            <a title="Информация о доставке" href="dostavka.html">Информация о доставке</a>
                        </li>
                        <li>
                            <a title="Информация об оплате" href="onlajn-oplata.html">Информация об оплате</a>
                        </li>
                        <li>
                            <a title="Условия возврата парфюмерии" href="vozvrat-tovara.html">Условия возврата
                                товара</a>
                        </li>
                        <li>
                            <a title="О магазине Laguna Parfumes" href="o-magazine/">О магазине</a>
                        </li>
                        <li>
                            <a title="Контакты Laguna Parfumes" href="nashi-kontaktyi/">Контакты</a>
                        </li>
                    </ul>
                </div>
                <div class="uk-border-left uk-margin-large-left uk-navbar-right">
                    <div class="uk-visible@s">
                    <span class="uk-margin-small-right uk-margin-small-left uk-icon">
                            <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                                 data-svg="location">
                                <path fill="none" stroke="#000" stroke-width="1.01"
                                      d="M10,0.5 C6.41,0.5 3.5,3.39 3.5,6.98 C3.5,11.83 10,19 10,19 C10,19 16.5,11.83 16.5,6.98 C16.5,3.39 13.59,0.5 10,0.5 L10,0.5 Z"></path>
                                <circle fill="none" stroke="#000" cx="10" cy="6.8" r="2.3"></circle>
                            </svg>
                        </span>
                        <a title="Адреса магазинов Laguna Parfumes" class="uk-button-text uk-link-reset"
                           href="nashi-kontaktyi/">Адреса магазинов</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="">
        <div class="uk-container">
            <nav class="uk-navbar">
                <a href="/" id="logo"><img src="/img/logo.png"></a>
                <div class="uk-search-cover uk-visible@s">
                    <div class="uk-inline uk-width-1-1@l">
                        <a class="uk-form-icon uk-form-icon-flip uk-icon" href="#" uk-icon="icon: search">
                            <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                                 data-svg="search">
                                <circle fill="none" stroke="#000" stroke-width="1.1" cx="9" cy="9" r="7"></circle>
                                <path fill="none" stroke="#000" stroke-width="1.1" d="M14,14 L18,18 L14,14 Z"></path>
                            </svg>
                        </a>
                        <input class="uk-border-rounded uk-input" placeholder="Более 10 000 товаров в наличии"
                               type="text">
                    </div>
                </div>
                <div
                        class="uk-align-center uk-flex uk-flex-center uk-text-bold uk-text-large uk-text-meta uk-visible@s">
                    <a href="tel:+77475151336">+7 747 515 1336</a>
                </div>
                <div class="uk-navbar-right uk-hidden@s">
                    <i class="uk-button uk-button-small uk-text-secondary" uk-icon="user"></i>
                    <i class="uk-button uk-button-small uk-text-secondary" uk-icon="cart"></i>
                    <a class="uk-navbar-toggle" style="min-height: 30px" uk-icon="icon: menu; ratio: 2" href="#"></a>
                </div>
            </nav>
        </div>
    </div>
    <div class="uk-visible@s uk-card uk-card-default">
        <div class="uk-container">
            <nav class="uk-navbar" uk-navbar>
                <div class="uk-navbar-center">
                    <ul class="uk-navbar-dropdown-grid uk-navbar-nav uk-navbar-nav-small">
                        <li><a title="Парфюм для женщин" href="http://www.laguna-parfumes.kz/zhenskaya-parfyumeriya/">Женский
                            парфюм</a></li>
                        <li><a title="Парфюм для мужчин" href="muzhskaya-parfyumeriya/">Мужской парфюм</a></li>
                        <li><a title="Крема, шампуни и уход за телом для женщин" href="uxod-dlya-zhenshhin/">Уход для
                            женщин</a></li>
                        <li><a title="Мыло, шампуни, уход за телом для мужчин" href="uxod-dlya-muzhchi/">Уход для
                            мужчин</a></li>
                        <li><a title="Запах для дома и машины" href="drugie-tovaryi/">Другие товары</a></li>
                        <li><a title="Выбрать аромат по нотам" href="notyi.html">Ноты</a></li>
                        <li>
                            <a title="Скидки и Акции" href="#">Спецпредложения</a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li><a title="Популярные ароматы" href="myi-rekomenduem.html">Мы рекомендуем</a>
                                    </li>
                                    <li><a title="Новые ароматы" href="novinki/">Новинки</a></li>
                                    <li><a title="Акции от Laguna Parfumes" href="akczii/">Акции</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><span class="uk-padding uk-padding-remove-vertical"></span></li>
                        <li><a href="#"><i class="uk-padding-small uk-text-secondary uk-padding-remove-vertical"
                                           uk-icon="user"></i></a>
                        </li>
                        <li><a href="#"><i class="uk-padding-small uk-text-secondary uk-padding-remove-vertical"
                                           uk-icon="cart"></i></a>
                        </li>
                        <li></li>

                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
<main>
    <section class="slider uk-position-relative uk-margin-large-bottom">
        <div class="uk-position-top-center uk-card uk-card-default uk-position-z-index uk-margin-top uk-visible@s"
             uk-navbar>
            <ul class="uk-navbar-nav uk-navbar-nav-colapsed">
                <li><a href="vse-brendyi.html">Все бренды</a></li>
                <li><a href="#">A</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="afnan/">Afnan</a></li>
                            <li><a href="alaia-paris/">Alaia Paris</a></li>
                            <li><a href="alexandre-j/">Alexandre.J</a></li>
                            <li><a href="attar-collection/">Attar Collection</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">B</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="byredo/">Byredo</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">C</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="comme-des-garcons/">Comme des Garcons</a></li>
                            <li><a href="creed/">Creed</a></li>
                        </ul>
                    </div>
                </li>
                <li class="uk-disabled"><a href="#">D</a></li>
                <li><a href="#">E</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="etat-libre/">Etat Libre</a></li>
                            <li><a href="ex-nihilo/">Ex Nihilo</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">F</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="francis-kurkdjian/">Francis Kurkdjian</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">G</a></li>
                <li><a href="#">H</a></li>
                <li><a href="#">I</a></li>
                <li><a href="#">J</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="juliette-has-a-gun/">Juliette Has a Gun</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">K</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="kilian/">Kilian</a></li>
                            <li><a href="korloff/">Korloff</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">L</a></li>
                <li><a href="#">M</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="memo/">Memo</a></li>
                            <li><a href="montale/">Montale</a></li>
                            <li><a href="mfk/">MFK</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">N</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="nasomatto/">Nasomatto</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Oz</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="orto-parisi/">Orto Parisi</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">P</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="parfums-de-marly/">Parfums de Marly</a></li>
                            <li><a href="penhaligons/">Penhaligons</a></li>
                            <li><a href="paul-emilien/">Paul Emilien</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Q</a></li>
                <li><a href="#">R</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="ramon-molvizar/">Ramon Molvizar</a></li>
                            <li><a href="rance/">Rance</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">S</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="serge-lutens/">Serge Lutens</a></li>
                            <li><a href="shaik/">Shaik</a></li>
                            <li><a href="sospiro/">Sospiro</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">T</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <!--<a href="the-house-of-oud/">The House of Oud</a>-->
                            <li><a href="tiziana-terenzi/">Tiziana Terenzi</a></li>
                            <li><a href="the-chemical-barbers/">The Chemical Barbers</a></li>
                            <li><a href="tom-ford/">Tom Ford</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">U</a></li>
                <li><a href="#">V</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="v-canto/">V Canto</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">W</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="widian/">Widian</a></li>
                        </ul>
                    </div>
                </li>


                <li><a href="#">X</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="xerjoff/">Xerjoff</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Y</a></li>
                <li><a href="#">Z</a></li>
            </ul>
        </div>
        <div class="uk-profile-section">
            <h1>Личный кабинет</h1>
            <div class="uk-container">
                <ul class="uk-tab-nav uk-flex uk-flex-center" uk-switcher>
                    <li><a href="#"><b class="tab active">персональные данные</b></a></li>
                    <li><a href="#"><b class="tab">история заказов</b></a></li>
                    <li><a href="#"><b class="tab">изменение пароля</b></a></li>
                </ul>
                <ul class="uk-switcher uk-margin">
                    <li>
                        <div class="uk-form" id="office-auth-login">
                            <div class="uk-margin-small">
                                <label for="email" class="uk-form-label">E-mail</label>
                                <div class="uk-form-controls">
                                    <input type="text" name="username" placeholder=""
                                           class="uk-input uk-form-width-medium"
                                           id="email" value="" disabled>
                                </div>
                            </div>
                            <div class="uk-margin-small">
                                <label for="name" class="uk-form-label">имя</label>
                                <div class="uk-form-controls">
                                    <input type="text" name="name" placeholder="" class="uk-input uk-form-width-medium"
                                           id="name" value="">
                                </div>
                            </div>
                            <div class="uk-margin-small">
                                <label for="last_name" class="uk-form-label">фамилия</label>
                                <div class="uk-form-controls">
                                    <input type="text" name="last_name" placeholder=""
                                           class="uk-input uk-form-width-medium"
                                           id="last_name" value="">
                                </div>
                            </div>
                            <div class="uk-margin-small">
                                <label for="day" class="uk-form-label">дата рождения</label>
                                <div class="uk-form-controls">
                                    <div class="uk-button-group">
                                        <input type="text" name="day" placeholder=""
                                               class="uk-input uk-form-width-xsmall"
                                               id="day" value="01">
                                        <input type="text" name="day" placeholder=""
                                               class="uk-input uk-form-width-xsmall"
                                               id="month" value="12">
                                        <input type="text" name="day" placeholder=""
                                               class="uk-input uk-form-width-xsmall"
                                               id="year" value="1989">
                                    </div>
                                </div>
                            </div>
                            <div class="uk-margin-small">
                                <label for="name" class="uk-form-label">пол</label>
                                <div class="uk-form-controls">
                                    <select id="city" name="city" value="" class="uk-form-width-medium">
                                        <option value="женский">женский</option>
                                        <option value="мужской">мужской</option>
                                    </select>
                                </div>
                            </div>
                            <div class="uk-margin-small">
                                <label for="phone" class="uk-form-label">контактный номер</label>
                                <div class="uk-form-controls">
                                    <input type="text" name="phone" placeholder=""
                                           class="uk-input uk-form-width-medium"
                                           id="phone" value="8 701 777 77 00">
                                </div>
                            </div>
                            <div class="uk-margin-small">
                                <button type="submit" class="uk-button uk-button-default uk-border-rounded">сохранить
                                </button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <section class="tabs-cart uk-margin-medium">
                            <div class="uk-container">
                                <ul uk-accordion>
                                    <li class="uk-open">
                                        <a class="uk-accordion-title" href="#">1 апреля 2017  <span class="uk-margin-small-right uk-icon" uk-icon="icon: chevron-up; ratio: 2"></span> <span class="uk-margin-small-right uk-icon" uk-icon="icon: chevron-down; ratio: 2"></span> </a>
                                        <div class="uk-accordion-content">
                                            <table class="uk-table uk-table-divider">
                                                <thead>
                                                <tr>
                                                    <th>Товар:</th>
                                                    <th>Объем:</th>
                                                    <th>Цена:</th>
                                                    <th>Количество:</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <img src="/img/Montale/Montale_roses_musk-aroma.png"
                                                             alt="Roses Musk" title="Roses Musk">
                                                        <a class="uk-link-reset uk-h4">Roses Musk</a>
                                                    </td>
                                                    <td><b>100 мл</b></td>
                                                    <td><b>42000 тг.</b></td>
                                                    <td>
                                                        <input min="1" type="number" name="count"
                                                               class="uk-input uk-border-rounded uk-form-width-small"
                                                               disabled>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <img src="/img/Montale/Montale_roses_musk-aroma.png"
                                                             alt="Roses Musk" title="Roses Musk">
                                                        <a class="uk-link-reset uk-h4">Roses Musk</a>
                                                    </td>
                                                    <td><b>50 мл</b></td>
                                                    <td><b>30000 тг.</b></td>
                                                    <td>
                                                        <input min="1" type="number" name="count"
                                                               class="uk-input uk-border-rounded uk-form-width-small"
                                                               disabled>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td><p><i>Товара:</i> <b class="uk-text-large">7</b> <b>шт.</b></p>
                                                    </td>
                                                    <td><p><i>Сумма:</i> <b class="uk-text-large">246000</b></p></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </li>
                                    <li >
                                        <a class="uk-accordion-title" href="#">21 марта 2017 <span class="uk-margin-small-right uk-icon" uk-icon="icon: chevron-up; ratio: 2"></span> <span class="uk-margin-small-right uk-icon" uk-icon="icon: chevron-down; ratio: 2"></span> </a>
                                        <div class="uk-accordion-content">
                                            <table class="uk-table uk-table-divider">
                                                <thead>
                                                <tr>
                                                    <th>Товар:</th>
                                                    <th>Объем:</th>
                                                    <th>Цена:</th>
                                                    <th>Количество:</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <img src="/img/Montale/Montale_roses_musk-aroma.png"
                                                             alt="Roses Musk" title="Roses Musk">
                                                        <a class="uk-link-reset uk-h4">Roses Musk</a>
                                                    </td>
                                                    <td><b>100 мл</b></td>
                                                    <td><b>42000 тг.</b></td>
                                                    <td>
                                                        <input min="1" type="number" name="count"
                                                               class="uk-input uk-border-rounded uk-form-width-small"
                                                               disabled>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <img src="/img/Montale/Montale_roses_musk-aroma.png"
                                                             alt="Roses Musk" title="Roses Musk">
                                                        <a class="uk-link-reset uk-h4">Roses Musk</a>
                                                    </td>
                                                    <td><b>50 мл</b></td>
                                                    <td><b>30000 тг.</b></td>
                                                    <td>
                                                        <input min="1" type="number" name="count"
                                                               class="uk-input uk-border-rounded uk-form-width-small"
                                                               disabled>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td><p><i>Товара:</i> <b class="uk-text-large">7</b> <b>шт.</b></p>
                                                    </td>
                                                    <td><p><i>Сумма:</i> <b class="uk-text-large">246000</b></p></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </li>
                                    <li >
                                        <a class="uk-accordion-title" href="#">5 февраля 2017<span class="uk-margin-small-right uk-icon" uk-icon="icon: chevron-up; ratio: 2"></span> <span class="uk-margin-small-right uk-icon" uk-icon="icon: chevron-down; ratio: 2"></span> </a>
                                        <div class="uk-accordion-content">
                                            <table class="uk-table uk-table-divider">
                                                <thead>
                                                <tr>
                                                    <th>Товар:</th>
                                                    <th>Объем:</th>
                                                    <th>Цена:</th>
                                                    <th>Количество:</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <img src="/img/Montale/Montale_roses_musk-aroma.png"
                                                             alt="Roses Musk" title="Roses Musk">
                                                        <a class="uk-link-reset uk-h4">Roses Musk</a>
                                                    </td>
                                                    <td><b>100 мл</b></td>
                                                    <td><b>42000 тг.</b></td>
                                                    <td>
                                                        <input min="1" type="number" name="count"
                                                               class="uk-input uk-border-rounded uk-form-width-small"
                                                               disabled>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <img src="/img/Montale/Montale_roses_musk-aroma.png"
                                                             alt="Roses Musk" title="Roses Musk">
                                                        <a class="uk-link-reset uk-h4">Roses Musk</a>
                                                    </td>
                                                    <td><b>50 мл</b></td>
                                                    <td><b>30000 тг.</b></td>
                                                    <td>
                                                        <input min="1" type="number" name="count"
                                                               class="uk-input uk-border-rounded uk-form-width-small"
                                                               disabled>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td><p><i>Товара:</i> <b class="uk-text-large">7</b> <b>шт.</b></p>
                                                    </td>
                                                    <td><p><i>Сумма:</i> <b class="uk-text-large">246000</b></p></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </li>
                    <li>
                        <div class="uk-form" id="password-reset">
                            <div class="uk-margin-small">
                                <label for="email" class="uk-form-label">E-mail</label>
                                <div class="uk-form-controls">
                                    <input type="text" name="username" placeholder=""
                                           class="uk-input uk-form-width-medium"
                                           id="email" value="" disabled>
                                </div>
                            </div>
                            <div class="uk-margin-small">
                                <label for="name" class="uk-form-label">Старый пароль</label>
                                <div class="uk-form-controls">
                                    <input type="password" name="name" placeholder="" class="uk-input uk-form-width-medium"
                                           id="name" value="">
                                </div>
                            </div>
                            <div class="uk-margin-small">
                                <label for="name" class="uk-form-label">Новый пароль</label>
                                <div class="uk-form-controls">
                                    <input type="password" name="name" placeholder="" class="uk-input uk-form-width-medium"
                                           id="name" value="">
                                </div>
                            </div>
                            <div class="uk-margin-small">
                                <label for="name" class="uk-form-label">Подтверждение нового пароля</label>
                                <div class="uk-form-controls">
                                    <input type="password" name="name" placeholder="" class="uk-input uk-form-width-medium"
                                           id="name" value="">
                                </div>
                            </div>
                            <div class="uk-margin-small">
                                <button type="submit" class="uk-button uk-button-default uk-border-rounded">сохранить
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</main>
<footer>
    <div class="uk-padding uk-padding-remove-horizontal uk-section-muted">
        <div class="uk-container">
            <div class="uk-grid-match" uk-grid="">
                <div class="uk-width-auto@s">
                    <div class="uk-card-icons">
                        <span>Принимаем к оплате:</span>
                        <i></i>
                        <i></i>
                        <i></i>
                        <i></i>
                        <i></i>
                        <i></i>
                    </div>
                </div>
                <div class="uk-text-center">
                    <div class="uk-flex uk-flex-center">
                        <span class="uk-margin-small-right">Подписывайтесь на нас:</span>
                        <a class="uk-icon-custom-instagram" title="Перейти в инстаграм"
                           href="https://www.instagram.com/laguna_parfumes/" target="_blank"></a>
                        <a class="uk-icon-custom-facebook" title="Перейти в фейсбук"
                           href="https://www.facebook.com/lagunaparfumes/" target="_blank"></a>
                        <a class="uk-icon-custom-vk" title="Перейти в ВК" href="https://vk.com/laguna_parfumes"
                           target="_blank"></a>
                    </div>
                </div>
                <div class="uk-text-right">
                    <div>
                        <span>Номер телефона:</span>
                        <b><a class="uk-text-large uk-text-secondary" title="Позвонить" href="tel:+77475151336">+7 747
                            515 1336</a></b>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="uk-container">
            <div class="uk-grid-match" uk-grid="">
                <div class="uk-width-2-5@s">
                    <div class="uk-child-width-1-2@s" uk-grid="">
                        <a class="uk-link-reset uk-text-bold uk-text-uppercase" title="Оплата парфюмерии"
                           href="onlajn-oplata.html">Информация по
                            оплате</a>
                        <a class="uk-link-reset uk-text-bold uk-text-uppercase" title="Доставка парфюмерии"
                           href="dostavka.html">Информация о
                            доставке</a>
                    </div>
                </div>
                <div class="uk-width-1-5@s uk-text-meta uk-text-center">
                    <span><b>© laguna-parfumes.kz</b><br>На рынке с 2015 года<br>Все права защищены</span>
                </div>
                <div class="uk-width-2-5@s uk-text-right">
                    <span>
                        Разработка сайта — <a target="_blank" class="uk-icon-custom-space"
                                              title="Разработка интернет магазинов" href="http://prostokosmos.kz"></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
<script src="uikit/js/uikit.min.js"></script>
<script src="uikit/js/uikit-icons.min.js"></script>
</html>
