/* line 3, ../sass/cart.scss */
.FormIn {
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 0;
  overflow: hidden;
}
/* line 8, ../sass/cart.scss */
.FormIn h2 {
  width: 100%;
}
/* line 12, ../sass/cart.scss */
.FormIn:nth-child(3) {
  padding-top: 53px;
  padding-bottom: 84px;
}

/* line 18, ../sass/cart.scss */
.FormInWr {
  max-width: 700px;
}

/* line 22, ../sass/cart.scss */
.CartCount {
  margin: 35px 0 39px;
  text-align: center;
}
/* line 26, ../sass/cart.scss */
.CartCount span {
  font-size: 25px;
  text-align: center;
  font-weight: 500;
}
/* line 31, ../sass/cart.scss */
.CartCount span b {
  font-weight: 700;
}

/* line 37, ../sass/cart.scss */
.CartCardWr {
  margin-top: 1px;
}

/* line 41, ../sass/cart.scss */
.CartCard {
  border: 1px solid #395669;
  display: flex;
  padding: 33px 30px 30px;
  align-items: center;
  position: relative;
  margin-top: -1px;
}
/* line 49, ../sass/cart.scss */
.CartCard .CartCardImg {
  width: 55px;
  height: 55px;
  margin-right: 25px;
  overflow: hidden;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
}
/* line 58, ../sass/cart.scss */
.CartCard .CartCardImg img {
  display: block;
  width: 100%;
}
/* line 64, ../sass/cart.scss */
.CartCard h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  width: 39%;
  padding-right: 3%;
  margin-bottom: 2%;
  box-sizing: border-box;
}
/* line 74, ../sass/cart.scss */
.CartCard .CartCardCount {
  padding-right: 18px;
  position: relative;
  margin-bottom: 2%;
}
/* line 79, ../sass/cart.scss */
.CartCard .CartCardCount span {
  font-size: 8px;
  cursor: pointer;
  margin: 0;
  position: absolute;
  right: 0;
}
/* line 86, ../sass/cart.scss */
.CartCard .CartCardCount span:hover {
  font-weight: 700;
  color: #000000;
}
/* line 91, ../sass/cart.scss */
.CartCard .CartCardCount span.plus {
  top: 9px;
}
/* line 95, ../sass/cart.scss */
.CartCard .CartCardCount span.minus {
  bottom: 10px;
}
/* line 100, ../sass/cart.scss */
.CartCard .CartCardCount input {
  width: 62px;
  height: 40px;
  border-radius: 10px;
  background-color: #f0f0f0;
  outline: none;
  border: none;
  text-align: center;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 51px;
}
/* line 113, ../sass/cart.scss */
.CartCard .CartCardCount input::-webkit-outer-spin-button, .CartCard .CartCardCount input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* line 120, ../sass/cart.scss */
.CartCard .CartCardPrice {
  font-size: 20px;
  font-weight: 700;
  display: block;
  line-height: 1.3;
  margin-left: 39px;
  margin-bottom: 2%;
}
/* line 128, ../sass/cart.scss */
.CartCard .CartCardPrice small {
  font-size: 15px;
}
/* line 133, ../sass/cart.scss */
.CartCard .CartCardRemove {
  position: absolute;
  top: 35px;
  right: 37px;
}
/* line 138, ../sass/cart.scss */
.CartCard .CartCardRemove .CartCardRemoveBtn {
  background: transparent;
  font-weight: 700;
  font-size: 35px;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  z-index: 2;
  cursor: pointer;
}
/* line 149, ../sass/cart.scss */
.CartCard .CartCardRemove .CartCardRemoveBtn:hover {
  color: #395669;
}

/* line 156, ../sass/cart.scss */
.CartCardPriceAll {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 47px 0;
  margin-left: 20px;
  margin-right: 56px;
}
/* line 164, ../sass/cart.scss */
.CartCardPriceAll > span {
  color: #a2a2a2;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  margin-right: 20px;
}
/* line 172, ../sass/cart.scss */
.CartCardPriceAll .CartCardPriceAllR {
  display: flex;
  align-items: center;
}
/* line 176, ../sass/cart.scss */
.CartCardPriceAll .CartCardPriceAllR b {
  color: #000000;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.3;
}
/* line 184, ../sass/cart.scss */
.CartCardPriceAll .ProdPostGift {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 40px;
}
/* line 190, ../sass/cart.scss */
.CartCardPriceAll .ProdPostGift .item-gift {
  width: 40px;
  height: 40px;
  background-color: #b351bc;
  display: block;
  border-radius: 50%;
  position: relative;
}
/* line 199, ../sass/cart.scss */
.CartCardPriceAll .ProdPostGift img {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}
/* line 207, ../sass/cart.scss */
.CartCardPriceAll .ProdPostGift:after {
  content: '+';
  position: absolute;
  top: calc(50% - 15px);
  left: -20px;
  color: #b351bc;
  font-size: 23px;
  font-weight: 700;
}
/* line 217, ../sass/cart.scss */
.CartCardPriceAll .ProdPostGift span {
  color: #b351bc;
  font-size: 12px;
  font-weight: 700;
  display: block;
  margin-left: 9px;
}

/* line 227, ../sass/cart.scss */
.tab-form {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
/* line 233, ../sass/cart.scss */
.tab-form label {
  margin-right: 125px;
}

/* line 238, ../sass/cart.scss */
.tab-active {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  width: 100%;
  margin-bottom: 51px;
  position: relative;
  padding-bottom: 25px;
}
/* line 248, ../sass/cart.scss */
.tab-active:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -100%;
  border-top: 1px solid #e9e9e9;
  width: 300%;
}
/* line 257, ../sass/cart.scss */
.tab-active label {
  margin-right: 125px;
}

/* line 262, ../sass/cart.scss */
.tab-form.active {
  display: flex;
}

/* line 266, ../sass/cart.scss */
.FormInTop {
  margin-right: 125px;
  margin-top: 37px;
  margin-bottom: 40px;
}

/* line 276, ../sass/cart.scss */
form label:nth-child(3) {
  margin-bottom: 30px;
}
/* line 281, ../sass/cart.scss */
form button {
  padding: 0 2em;
}
/* line 285, ../sass/cart.scss */
form .checkbox-form {
  margin-right: 125px;
}

/* line 290, ../sass/cart.scss */
.CartBottomText {
  margin: 3px -49px;
  padding-bottom: 42px;
  position: relative;
}
/* line 295, ../sass/cart.scss */
.CartBottomText:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -100%;
  border-top: 1px solid #e9e9e9;
  width: 300%;
}
/* line 304, ../sass/cart.scss */
.CartBottomText p {
  font-size: 14px;
  line-height: 1.5;
  margin: 19px 0 19px;
  letter-spacing: -0.1px;
  font-weight: 600;
}
/* line 312, ../sass/cart.scss */
.CartBottomText a {
  color: #547489;
}

/* line 317, ../sass/cart.scss */
.CartCardFinalPrice {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 51px 0 5px;
  align-items: center;
}
/* line 324, ../sass/cart.scss */
.CartCardFinalPrice > span {
  color: #a2a2a2;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  margin-right: 22px;
}
/* line 332, ../sass/cart.scss */
.CartCardFinalPrice > b {
  color: #000000;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.3;
}

@media only screen and (max-width: 1199px) and (min-width: 710px) {
  /* line 341, ../sass/cart.scss */
  .CartCount {
    margin: 25px 0 27px;
  }
  /* line 344, ../sass/cart.scss */
  .CartCount span {
    font-size: 22px;
  }

  /* line 349, ../sass/cart.scss */
  .CartCard {
    padding: 25px 25px 25px;
  }

  /* line 353, ../sass/cart.scss */
  .CartCardPriceAll {
    padding: 34px 0;
  }

  /* line 357, ../sass/cart.scss */
  .FormIn {
    padding-top: 30px;
    margin-bottom: 35px;
  }
  /* line 361, ../sass/cart.scss */
  .FormIn:nth-child(3) {
    padding-top: 37px;
    padding-bottom: 50px;
    margin-bottom: 0;
  }

  /* line 368, ../sass/cart.scss */
  .tab-active {
    margin-bottom: 40px;
    padding-bottom: 20px;
  }

  /* line 373, ../sass/cart.scss */
  .CartBottomText {
    margin: 3px 0;
  }
}
@media only screen and (max-width: 709px) and (min-width: 120px) {
  /* line 379, ../sass/cart.scss */
  .CartCount {
    margin: 3vw 0 3.5vw;
  }
  /* line 382, ../sass/cart.scss */
  .CartCount span {
    font-size: 4vw;
  }

  /* line 387, ../sass/cart.scss */
  .CartCard {
    padding: 2vw;
    padding-right: 25px;
  }
  /* line 391, ../sass/cart.scss */
  .CartCard .CartCardImg {
    width: 45px;
    height: 45px;
    margin-right: 2vw;
  }
  /* line 397, ../sass/cart.scss */
  .CartCard h3 {
    font-size: 3.1vw;
    padding-right: 2%;
    width: 35%;
  }
  /* line 405, ../sass/cart.scss */
  .CartCard .CartCardCount input {
    width: 25px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
  }
  /* line 413, ../sass/cart.scss */
  .CartCard .CartCardPrice {
    font-size: 3.5vw;
    margin-left: 2vw;
  }
  /* line 418, ../sass/cart.scss */
  .CartCard .CartCardRemove {
    top: 3vw;
    right: 8px;
  }

  /* line 424, ../sass/cart.scss */
  .CartCardPriceAll {
    padding: 5vw 0;
    margin: 0;
  }
  /* line 428, ../sass/cart.scss */
  .CartCardPriceAll > span {
    font-size: 4vw;
    margin-right: 5vw;
  }
  /* line 435, ../sass/cart.scss */
  .CartCardPriceAll .CartCardPriceAllR b {
    font-size: 3.5vw;
    line-height: 2.3;
  }
  /* line 440, ../sass/cart.scss */
  .CartCardPriceAll .CartCardPriceAllR .item-gift {
    width: 35px;
    height: 35px;
  }
  /* line 448, ../sass/cart.scss */
  .CartCardPriceAll .ProdPostGift img {
    height: 107%;
  }

  /* line 454, ../sass/cart.scss */
  form {
    padding-right: 0;
    align-items: center;
  }
  /* line 458, ../sass/cart.scss */
  form .checkbox-form {
    margin-right: 0 !important;
  }

  /* line 463, ../sass/cart.scss */
  .FormIn {
    padding-top: 7vw;
    margin-bottom: 0;
  }
  /* line 467, ../sass/cart.scss */
  .FormIn:nth-child(3) {
    padding-bottom: 6vw;
    margin-bottom: 0;
    padding-top: 7vw;
  }

  /* line 474, ../sass/cart.scss */
  .tab-form {
    padding-right: 20vw;
  }
  /* line 477, ../sass/cart.scss */
  .tab-form label {
    margin-right: 0;
    padding-right: 0;
  }
  /* line 481, ../sass/cart.scss */
  .tab-form label:nth-child(3) {
    margin-bottom: 4vw;
  }

  /* line 487, ../sass/cart.scss */
  .tab-active {
    margin-bottom: 7vw;
    width: 100%;
    padding-bottom: 4vw;
    padding-right: 20vw;
  }
  /* line 493, ../sass/cart.scss */
  .tab-active label {
    margin-right: 0;
    padding-right: 0;
  }
  /* line 497, ../sass/cart.scss */
  .tab-active label:nth-child(3) {
    margin-bottom: 4vw;
  }

  /* line 503, ../sass/cart.scss */
  .FormInTop {
    margin-top: 2vw;
    margin-bottom: 4vw;
    margin-right: 0;
  }

  /* line 509, ../sass/cart.scss */
  .CartBottomText {
    margin: 3px 0;
    padding-bottom: 2vw;
  }
  /* line 513, ../sass/cart.scss */
  .CartBottomText p {
    font-size: 3.2vw;
    margin: 2vw 0;
  }

  /* line 519, ../sass/cart.scss */
  .CartCardFinalPrice {
    margin: 4vw 0 1vw;
  }
  /* line 522, ../sass/cart.scss */
  .CartCardFinalPrice > span {
    font-size: 4vw;
    margin-right: 3vw;
  }
  /* line 527, ../sass/cart.scss */
  .CartCardFinalPrice > b {
    font-size: 5vw;
  }
}
