.Specifications{
    max-width: 1125px;
}

.Specifications::-webkit-scrollbar-track
{
    background-color:  #ebeef0;
}

.Specifications::-webkit-scrollbar
{
    width: 6px;
    height: 9px;
    background-color: #ebeef0;
}

.Specifications::-webkit-scrollbar-thumb
{
    background-color: #395669;
}

.Specifications::-webkit-scrollbar-button:single-button {
    background: #fff url('/img/Polygon_1.png') no-repeat center center/contain;
    display: block;
    /*border: 8px #ebeef0 solid;*/
    height: 12px;
    width: 12px;
}

.Specifications::-webkit-scrollbar-button:single-button:increment {
    background: #fff url('/img/Polygon_r1.png') no-repeat center center/contain;
}

.Specifications .Specifications-title {
    color: #010101;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 50px;
}

.close{
    display: block;
    background: url(/img/close.png) no-repeat center center /cover;
    width: 18px;
    height: 18px;
    text-align: center;
    margin: 15px auto;
    cursor: pointer;
}


.Specifications th:last-child .name-field, .Specifications tr:last-child .name-field {
    border-bottom: none;
}

.Specifications th:last-child .value-field, .Specifications tr:last-child .value-field {
    border-bottom: 1px solid #dedede;
}
