/* line 5, ../../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

/* line 22, ../../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
    line-height: 1;
}

/* line 24, ../../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
    list-style: none;
}

/* line 26, ../../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* line 28, ../../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

/* line 30, ../../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
    quotes: none;
}

/* line 103, ../../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

/* line 32, ../../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
    border: none;
}

/* line 116, ../../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

/* line 3, ../sass/all/wrapper.scss */
body {
    min-height: 100vh;
}

/* line 7, ../sass/all/wrapper.scss */
html, body {
    min-height: 100%;
    height: 100%;
    line-height: 1.4;
    font-family: 'Montserrat', sans-serif;
}

/* line 15, ../sass/all/wrapper.scss */
.wrapper {
    width: 100%;
}

/* line 19, ../sass/all/wrapper.scss */
.container {
    width: 1220px;
    margin: 0 auto;
    padding: 0;
}

/* line 25, ../sass/all/wrapper.scss */
.column,
.columns {
    margin-left: 10px;
    margin-right: 10px;
}

/* line 32, ../sass/all/wrapper.scss */
.content {
    overflow: hidden;
}

/* line 36, ../sass/all/wrapper.scss */
.container .sixteen.columns {
    width: 1200px;
}

/* line 40, ../sass/all/wrapper.scss */
.position-relative {
    position: relative;
    overflow: hidden;
}

/* line 45, ../sass/all/wrapper.scss */
.paddingBot40px {
    padding-bottom: 40px;
}

/* line 49, ../sass/all/wrapper.scss */
.hidden {
    opacity: 0;
}

/* line 53, ../sass/all/wrapper.scss */
.visible {
    opacity: 1;
}

/* line 57, ../sass/all/wrapper.scss */
a {
    text-decoration: none;
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    /* line 63, ../sass/all/wrapper.scss */
    .container {
        width: 1120px;
    }

    /* line 67, ../sass/all/wrapper.scss */
    .container .sixteen.columns {
        width: 1100px;
    }

    /* line 71, ../sass/all/wrapper.scss */
    .column, .columns {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 980px) and (max-width: 1199px) {
    /* line 80, ../sass/all/wrapper.scss */
    .container {
        width: 980px;
    }

    /* line 84, ../sass/all/wrapper.scss */
    .container .sixteen.columns {
        width: 960px;
    }

    /* line 88, ../sass/all/wrapper.scss */
    .column, .columns {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 710px) and (max-width: 979px) {
    /* line 96, ../sass/all/wrapper.scss */
    .container {
        width: 100%;
    }

    /* line 100, ../sass/all/wrapper.scss */
    .container .sixteen.columns {
        width: 96%;
    }

    /* line 104, ../sass/all/wrapper.scss */
    .column, .columns {
        margin-left: 2%;
        margin-right: 2%;
    }

    /* line 109, ../sass/all/wrapper.scss */
    body::-webkit-scrollbar {
        width: 0;
    }
}

@media only screen and (min-width: 120px) and (max-width: 709px) {
    /* line 116, ../sass/all/wrapper.scss */
    .container {
        width: 100%;
    }

    /* line 120, ../sass/all/wrapper.scss */
    .container .sixteen.columns {
        width: 94%;
    }

    /* line 124, ../sass/all/wrapper.scss */
    .column, .columns {
        margin-left: 4%;
        margin-right: 4%;
    }

    /* line 129, ../sass/all/wrapper.scss */
    body::-webkit-scrollbar {
        width: 0;
    }
}

/* line 3, ../sass/all/header.scss */
.Header {
    max-width: 1920px;
    padding: 10px 20px 10px 10px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    z-index: 2;
}

/* line 13, ../sass/all/header.scss */
.Header.HeaderSmall {
    padding: 7px 20px 7px 10px;
    border: 1px solid #e8e8e8;
}

/* line 17, ../sass/all/header.scss */
.Header.HeaderSmall .HeaderLogo {
    width: auto;
}

/* line 20, ../sass/all/header.scss */
.Header.HeaderSmall .HeaderLogo > img {
    width: 40px;
    height: 40px;
}

/* line 28, ../sass/all/header.scss */
.HeaderLogo {
    width: 80px;
    margin-right: 30px;
}

/* line 32, ../sass/all/header.scss */
.HeaderLogo > img {
    display: block;
    width: 60px;
}

/* line 38, ../sass/all/header.scss */
.HeaderNav {
    margin: 0 9px;
    position: relative;
    width: 100%;
}

/* line 43, ../sass/all/header.scss */
.HeaderNav ul {
    display: flex;
}

/* line 46, ../sass/all/header.scss */
.HeaderNav ul li {
    padding-right: 30px;
    position: relative;
}

/* line 50, ../sass/all/header.scss */
.HeaderNav ul li:last-child {
    padding-left: 30px;
}

/* line 53, ../sass/all/header.scss */
.HeaderNav ul li:last-child:after {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 1px;
    height: 28px;
    background-color: #000000;
    opacity: 0.25;
}

/* line 65, ../sass/all/header.scss */
.HeaderNav ul li a {
    position: relative;
    color: #000000;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}

/* line 72, ../sass/all/header.scss */
.HeaderNav ul li a:hover {
    opacity: 0.5;
}

/* line 76, ../sass/all/header.scss */
.HeaderNav ul li a.dropdown-toogle {
    padding-right: 10px;
    padding-bottom: 20px;
}

/* line 81, ../sass/all/header.scss */
.HeaderNav ul li a.dropdown-toogle:hover:after {
    transform: translate(0, -50%) rotate(180deg);
}

/* line 86, ../sass/all/header.scss */
.HeaderNav ul li a.dropdown-toogle:after {
    content: '';
    position: absolute;
    top: 10px;
    right: 0;
    transform: translate(0, -50%);
    background: url(/img/icon/Layer_4.png) center center no-repeat;
    background-size: contain;
    height: 5px;
    width: 5px;
    transition: .3s all;
}

/* line 101, ../sass/all/header.scss */
.HeaderNav ul li .dropdown-toogle + ul {
    transition: .3s all;
    position: absolute;
    /*border-top: 20px solid transparent;*/
    padding: 30px 34px 15px;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
    z-index: 4;
    left: calc(50% - 20px);
    top: 20px;
    transform: scaleY(0) translate(-50%, -50%);
    height: 0;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid #ece6e1;
    margin-top: 20px;
    overflow: hidden;
}

/* line 118, ../sass/all/header.scss */
.HeaderNav ul li .dropdown-toogle + ul:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: -1;
}

/* line 129, ../sass/all/header.scss */
.HeaderNav ul li .dropdown-toogle + ul li {
    padding-right: 0;
}

/* line 132, ../sass/all/header.scss */
.HeaderNav ul li .dropdown-toogle + ul li:last-child {
    padding-left: 0;
}

/* line 135, ../sass/all/header.scss */
.HeaderNav ul li .dropdown-toogle + ul li:last-child:after {
    display: none;
}

/* line 140, ../sass/all/header.scss */
.HeaderNav ul li .dropdown-toogle + ul li a {
    margin-bottom: 15px;
    display: block;
    font-size: 15px;
    padding-right: 0;
}

/* line 146, ../sass/all/header.scss */
.HeaderNav ul li .dropdown-toogle + ul li a:hover {
    color: #395669;
    opacity: 1;
}

/* line 154, ../sass/all/header.scss */
.HeaderNav ul li:hover > .dropdown-toogle + ul {
    transition: .5s all;
    transform: scaleY(1) translate(-50%, 0%);
    height: auto;
}

/* line 163, ../sass/all/header.scss */
.HeaderRight {
    display: flex;
}

/* line 166, ../sass/all/header.scss */
.HeaderRight .item-header-right {
    display: block;
    width: 20px;
    height: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 26px;
    transition: .3s ease-in-out;
    position: relative;
}

/* line 177, ../sass/all/header.scss */
.HeaderRight .item-header-right:hover {
    opacity: 0.5;
}

/* line 182, ../sass/all/header.scss */
.HeaderRight .search {
    background-image: url(/img/icon/search.png);
    cursor: pointer;
}

/* line 186, ../sass/all/header.scss */
.HeaderRight .user {
    background-image: url(/img/icon/man.png);
}

/* line 190, ../sass/all/header.scss */
.HeaderRight .cart {
    background-image: url(/img/icon/cart.png);
}

/* line 195, ../sass/all/header.scss */
.HeaderRight .cart.active:after {
    content: '';
    position: absolute;
    top: -7px;
    right: -2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #395669;
}

/* line 213, ../sass/all/header.scss */
.Header.HeaderWhite .HeaderNav ul li a {
    color: #fff;
}

/* line 217, ../sass/all/header.scss */
.Header.HeaderWhite .HeaderNav ul li .dropdown-toogle + ul li a {
    color: #000;
}

.Header.HeaderWhite .HeaderNav ul li .dropdown-toogle + ul li:hover a {
    color: #395669;
}

/* line 223, ../sass/all/header.scss */
.Header.HeaderWhite .HeaderRight .search {
    background-image: url(/img/icon/user-w.png);
}

/* line 227, ../sass/all/header.scss */
.Header.HeaderWhite .HeaderRight .user {
    background-image: url(/img/icon/man-w.png);
}

/* line 231, ../sass/all/header.scss */
.Header.HeaderWhite .HeaderRight .cart {
    background-image: url(/img/icon/img_174666-w.png);
}

/* line 245, ../sass/all/header.scss */
.Header.HeaderWhite .HeaderNav ul li:last-child:after {
    background-color: #ffffff;
    opacity: 0.25;
}

/* line 255, ../sass/all/header.scss */
.Header.HeaderWhite .HeaderNav ul li a.dropdown-toogle:after {
    background: url(/img/icon/Layer_4_copy-w.png) center center no-repeat;
    background-size: contain;
}

@media only screen and (min-width: 980px) and (max-width: 1199px) {
    /* line 269, ../sass/all/header.scss */
    .HeaderNav ul li {
        padding-right: 15px;
    }

    /* line 272, ../sass/all/header.scss */
    .HeaderNav ul li:last-child {
        padding-left: 15px;
    }

    /* line 276, ../sass/all/header.scss */
    .HeaderNav ul li a {
        font-size: 12px;
    }

    /* line 280, ../sass/all/header.scss */
    .HeaderNav ul li .dropdown-toogle + ul {
        padding: 15px 20px 10px;
        top: 35px;
    }

    /* line 285, ../sass/all/header.scss */
    .HeaderNav ul li .dropdown-toogle + ul li a {
        margin-bottom: 10px;
        display: block;
        font-size: 12px;
    }
}

@media only screen and (min-width: 710px) and (max-width: 979px) {
    /* line 298, ../sass/all/header.scss */
    .HeaderLogo {
        width: 60px;
        margin-right: 10px;
    }

    /* line 302, ../sass/all/header.scss */
    .HeaderLogo > img {
        display: block;
        width: 50px;
        height: 50px;
    }

    /* line 310, ../sass/all/header.scss */
    .HeaderNav {
        margin: 0 5px;
    }

    /* line 314, ../sass/all/header.scss */
    .HeaderNav ul li {
        padding-right: 10px;
    }

    /* line 317, ../sass/all/header.scss */
    .HeaderNav ul li:last-child {
        padding-left: 10px;
    }

    /* line 321, ../sass/all/header.scss */
    .HeaderNav ul li a {
        font-size: 9px;
    }

    /* line 325, ../sass/all/header.scss */
    .HeaderNav ul li:last-child:after {
        content: '';
        position: absolute;
        top: 5px;
        left: 0px;
        width: 1px;
        height: 15px;
        background-color: #000000;
        opacity: 0.25;
    }

    /* line 336, ../sass/all/header.scss */
    .HeaderNav ul li .dropdown-toogle + ul {
        padding: 15px 20px 10px;
    }

    /* line 340, ../sass/all/header.scss */
    .HeaderNav ul li .dropdown-toogle + ul li a {
        margin-bottom: 10px;
        display: block;
        font-size: 10px;
    }

    /* line 352, ../sass/all/header.scss */
    .HeaderRight .item-header-right {
        width: 15px;
        height: 15px;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 120px) and (max-width: 709px) {
    /* line 362, ../sass/all/header.scss */
    .Header {
        z-index: 999999;
    }

    /* line 366, ../sass/all/header.scss */
    .HeaderLogo {
        width: auto;
        margin-right: 47vw;
    }

    /* line 370, ../sass/all/header.scss */
    .HeaderLogo > img {
        display: block;
        width: 11vw;
    }

    /* line 377, ../sass/all/header.scss */
    .HeaderNav {
        display: none;
    }

    /* line 381, ../sass/all/header.scss */
    .HeaderRight {
        align-items: center;
    }

    /* line 384, ../sass/all/header.scss */
    .HeaderRight .item-header-right {
        width: 16px;
        height: 16px;
        margin-right: 5vw;
    }
}

/* line 3, ../sass/all/footer.scss */
footer {
    background-color: #f3f3f3;
}

/* line 7, ../sass/all/footer.scss */
.fTop {
    padding: 46px 0 29px;
}

/* line 11, ../sass/all/footer.scss */
.fTopBODY {
    display: flex;
    justify-content: space-between;
    margin: 0 2%;
}

/* line 17, ../sass/all/footer.scss */
.fTopBODYBL {
    flex-basis: 24%;
    box-sizing: border-box;
    position: relative;
}

/* line 22, ../sass/all/footer.scss */
.fTopBODYBL h4 {
    color: #aaaaaa;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.3;
    text-transform: uppercase;
    margin-bottom: 21px;
}

/* line 32, ../sass/all/footer.scss */
.fTopBODYBL p a {
    position: relative;
    color: #000000;
    font-weight: 600;
    font-size: 15px;
    display: block;
    text-transform: uppercase;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
    margin-bottom: 9px;
}

/* line 45, ../sass/all/footer.scss */
.fTopBODYBL p a:hover {
    color: #395669;
    opacity: 1;
}

/* line 54, ../sass/all/footer.scss */
.fTopBODYBL ul li {
    margin-bottom: 9px;
}

/* line 57, ../sass/all/footer.scss */
.fTopBODYBL ul li a {
    position: relative;
    color: #000000;
    font-weight: 600;
    font-size: 15px;
    display: block;
    text-transform: uppercase;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
}

/* line 69, ../sass/all/footer.scss */
.fTopBODYBL ul li a:hover {
    color: #395669;
    opacity: 1;
}

/* line 75, ../sass/all/footer.scss */
.fTopBODYBL ul li:last-child {
    margin-bottom: 0;
}

/* line 81, ../sass/all/footer.scss */
.fTopBODYBL:nth-child(4) {
    padding-left: 1%;
}

/* line 86, ../sass/all/footer.scss */
.fTopBODYBLSoc {
    display: flex;
    margin: 15px -5px;
}

/* line 90, ../sass/all/footer.scss */
.fTopBODYBLSoc a {
    display: block;
    width: 35px;
    height: 35px;
    border: 2px solid #000000;
    background-image: url(/img/icon/instagram.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60%;
    box-sizing: border-box;
    margin: 0 5px;
}

/* line 102, ../sass/all/footer.scss */
.fTopBODYBLSoc a:hover {
    border: 2px solid #ff0000;
    background-color: #ff0000;
}

/* line 107, ../sass/all/footer.scss */
.fTopBODYBLSoc a.ins {
    background-image: url(/img/icon/instagram.svg);
}

/* line 110, ../sass/all/footer.scss */
.fTopBODYBLSoc a.ins:hover {
    background-image: url(/img/icon/instagram-h.svg);
    border: 2px solid #c13584;
    background-color: #c13584;
}

/* line 117, ../sass/all/footer.scss */
.fTopBODYBLSoc a.fb {
    background-image: url(/img/icon/facebook-logo.svg);
}

/* line 120, ../sass/all/footer.scss */
.fTopBODYBLSoc a.fb:hover {
    border: 2px solid #3b5998;
    background-image: url(/img/icon/facebook-logo-h.svg);
    background-color: #3b5998;
}

/* line 127, ../sass/all/footer.scss */
.fTopBODYBLSoc a.yt {
    background-image: url(/img/icon/youtube.svg);
}

/* line 130, ../sass/all/footer.scss */
.fTopBODYBLSoc a.yt:hover {
    background-image: url(/img/icon/youtube-h.svg);
}

/* line 137, ../sass/all/footer.scss */
.fBot {
    border-top: 1px solid #dbdbdb;
    padding: 23px 0 23px;
}

/* line 141, ../sass/all/footer.scss */
.fBot .fBotWr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* line 147, ../sass/all/footer.scss */
.fBot .fBotWebCopy {
    padding-left: 2%;
}

/* line 150, ../sass/all/footer.scss */
.fBot .fBotWebCopy p {
    color: #aaaaaa;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.3;
}

/* line 156, ../sass/all/footer.scss */
.fBot .fBotWebCopy p b {
    text-transform: uppercase;
}

/* line 162, ../sass/all/footer.scss */
.fBot .fBotWeb {
    padding-right: 2%;
}

/* line 165, ../sass/all/footer.scss */
.fBot .fBotWeb span {
    color: #aaaaaa;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.3;
}

/* line 172, ../sass/all/footer.scss */
.fBot .fBotWeb a {
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
}

/* line 177, ../sass/all/footer.scss */
.fBot .fBotWeb a:hover {
    color: #395669;
}

@media only screen and (min-width: 710px) and (max-width: 979px) {
    /* line 185, ../sass/all/footer.scss */
    .fTopBODY {
        display: flex;
        justify-content: space-between;
        margin: 0 2%;
        flex-wrap: wrap;
    }

    /* line 192, ../sass/all/footer.scss */
    .fTopBODYBL {
        flex-basis: 50%;
        box-sizing: border-box;
        margin-bottom: 5vw;
        position: relative;
    }

    /* line 198, ../sass/all/footer.scss */
    .fTopBODYBL h4 {
        font-size: 14px;
    }

    /* line 203, ../sass/all/footer.scss */
    .fTopBODYBL p a {
        font-size: 12px;
    }

    /* line 210, ../sass/all/footer.scss */
    .fTopBODYBL ul li a {
        font-size: 12px;
    }
}

@media only screen and (min-width: 120px) and (max-width: 709px) {
    /* line 221, ../sass/all/footer.scss */
    .fTopBODY {
        display: flex;
        justify-content: space-between;
        margin: 0 2%;
        flex-wrap: wrap;
    }

    /* line 228, ../sass/all/footer.scss */
    .fTopBODYBL {
        flex-basis: 45%;
        box-sizing: border-box;
        margin-bottom: 7vw;
        position: relative;
    }

    /* line 234, ../sass/all/footer.scss */
    .fTopBODYBL h4 {
        font-size: 3.5vw;
    }

    /* line 239, ../sass/all/footer.scss */
    .fTopBODYBL p a {
        font-size: 3vw;
    }

    /* line 246, ../sass/all/footer.scss */
    .fTopBODYBL ul li a {
        font-size: 3vw;
    }

    /* line 253, ../sass/all/footer.scss */
    .fBot {
        border-top: 1px solid #dbdbdb;
        margin-top: 0vw;
        padding: 5vw 0 5vw;
    }

    /* line 258, ../sass/all/footer.scss */
    .fBot .fBotWr {
        flex-direction: column;
    }

    /* line 262, ../sass/all/footer.scss */
    .fBot .fBotWebCopy {
        margin-bottom: 3vw;
    }

    /* line 265, ../sass/all/footer.scss */
    .fBot .fBotWebCopy p {
        color: #aaaaaa;
        font-size: 3.5vw;
        font-weight: 400;
        line-height: 1.3;
    }

    /* line 274, ../sass/all/footer.scss */
    .fBot .fBotWeb span {
        color: #aaaaaa;
        font-size: 3.5vw;
        font-weight: 400;
        line-height: 1.3;
    }
}

/* line 3, ../sass/all/buttons.scss */
.SiteBtn {
    position: relative;
    outline: none;
    cursor: pointer;
    border: 2px solid #000000;
    background: transparent;
    height: 3.1em;
    box-sizing: border-box;
    line-height: 3.1em;
    padding: 0 1.9em;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
    transition: .3s ease-in-out;
}

.SiteBtnCaspi {
    margin-left: 30px;
    padding: 0 1.5em;
    display: flex;
    align-items: center;
    align-content: center;
    border: 2px solid #f14635;
    color: #f14635;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

/* line 24, ../sass/all/buttons.scss */
.SiteBtn:hover {
    background: #395669;
    border: 2px solid #395669;
    color: #fff;
}

@media only screen and (min-width: 980px) and (max-width: 1199px) {
    /* line 32, ../sass/all/buttons.scss */
    .SiteBtn {
        font-size: 14px;
    }
}

@media only screen and (min-width: 710px) and (max-width: 979px) {
    /* line 38, ../sass/all/buttons.scss */
    .SiteBtn {
        font-size: 12px;
    }
}

@media only screen and (min-width: 120px) and (max-width: 709px) {
    /* line 44, ../sass/all/buttons.scss */
    .SiteBtn {
        font-size: 3vw;
    }
}

/* line 3, ../sass/all/text.scss */
.title-text {
    position: relative;
    overflow: hidden;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 25px;
}

@media only screen and (min-width: 980px) and (max-width: 1199px) {
    /* line 12, ../sass/all/text.scss */
    .title-text {
        font-size: 18px;
        margin-bottom: 25px;
    }
}

@media only screen and (min-width: 710px) and (max-width: 979px) {
    /* line 19, ../sass/all/text.scss */
    .title-text {
        font-size: 16px;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 120px) and (max-width: 709px) {
    /* line 28, ../sass/all/text.scss */
    .title-text {
        font-size: 4vw;
        margin-bottom: 4vw;
        margin-left: 2vw;
    }
}

/* line 3, ../sass/all/popup-menu.scss */
.popup-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    transform: translate(-800%, -800%);
    background-size: cover;
    z-index: 99999;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background: #f6f6f6;
    opacity: 0;
}

/* line 21, ../sass/all/popup-menu.scss */
.open-btn {
    position: relative;
    width: 20px;
    height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}

/* line 35, ../sass/all/popup-menu.scss */
.open-btn b {
    position: relative;
    width: 20px;
    height: 2px;
    background: #000;
    display: block;
    transition: .5s all;
}

/* line 43, ../sass/all/popup-menu.scss */
.open-btn b:after, .open-btn b:before {
    content: '';
    width: 20px;
    height: 2px;
    background: #000;
    transition: .5s ease-out;
}

/* line 51, ../sass/all/popup-menu.scss */
.open-btn b:before {
    position: absolute;
    bottom: -6px;
}

/* line 56, ../sass/all/popup-menu.scss */
.open-btn b:after {
    position: absolute;
    top: -6px;
}

.HeaderWhite .open-btn b {
    background: #fff;
}

.HeaderWhite .open-btn b:after, .HeaderWhite .open-btn b:before {
    background: #fff;
}

/* line 65, ../sass/all/popup-menu.scss */
.open-btn.close-btn b {
    background: transparent;
}

/* line 67, ../sass/all/popup-menu.scss */
.open-btn.close-btn b:after {
    transform: rotate(45deg);
    top: 0;
}

/* line 72, ../sass/all/popup-menu.scss */
.open-btn.close-btn b:before {
    transform: rotate(-45deg);
    bottom: 0;
}

/* line 80, ../sass/all/popup-menu.scss */
.popup-active {
    opacity: 1;
    transition: opacity .15s linear;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    margin-top: 56px;
}

/* line 87, ../sass/all/popup-menu.scss */
.popup-menu-mob {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 30vh;
}

/* line 93, ../sass/all/popup-menu.scss */
.popup-menu-mob li {
    position: relative;
    text-align: center;
    margin-bottom: 15px;
    width: 100%;
}

/* line 99, ../sass/all/popup-menu.scss */
.popup-menu-mob li:last-child {
    padding-top: 20px;
}

/* line 102, ../sass/all/popup-menu.scss */
.popup-menu-mob li:last-child:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 48px;
    height: 1px;
    background-color: #000000;
    opacity: 0.25;
}

/* line 115, ../sass/all/popup-menu.scss */
.popup-menu-mob li a {
    position: relative;
    color: #000000;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}

/* line 122, ../sass/all/popup-menu.scss */
.popup-menu-mob li a.dropdown-toogle-slide {
    opacity: 0.5;
}

/* line 126, ../sass/all/popup-menu.scss */
.popup-menu-mob li a.dropdown-toogle {
    padding-right: 10px;
}

/* line 131, ../sass/all/popup-menu.scss */
.popup-menu-mob li a.dropdown-toogle.dropdown-toogle-slide:after {
    transform: translate(0, -50%) rotate(180deg);
}

/* line 136, ../sass/all/popup-menu.scss */
.popup-menu-mob li a.dropdown-toogle:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    background: url(/img/icon/Layer_4.png) center center no-repeat;
    background-size: contain;
    height: 5px;
    width: 5px;
    transition: .3s all;
}

/* line 151, ../sass/all/popup-menu.scss */
.popup-menu-mob li .dropdown-toogle + ul {
    transition: .3s all;
    position: absolute;
    padding: 30px 34px 15px;
    width: 100%;
    left: 50%;
    z-index: 4;
    top: 20px;
    transform: scaleY(0) translate(-50%, -50%);
    height: 0;
    flex-direction: column;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    transition: none;
}

/* line 167, ../sass/all/popup-menu.scss */
.popup-menu-mob li .dropdown-toogle + ul:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    z-index: -1;
}

/* line 177, ../sass/all/popup-menu.scss */
.popup-menu-mob li .dropdown-toogle + ul li {
    padding-right: 0;
}

/* line 180, ../sass/all/popup-menu.scss */
.popup-menu-mob li .dropdown-toogle + ul li:last-child {
    padding-left: 0;
    padding-top: 0;
}

/* line 184, ../sass/all/popup-menu.scss */
.popup-menu-mob li .dropdown-toogle + ul li:last-child:after {
    display: none;
}

/* line 189, ../sass/all/popup-menu.scss */
.popup-menu-mob li .dropdown-toogle + ul li a {
    margin-bottom: 15px;
    display: block;
    font-size: 15px;
    padding-right: 0;
}

/* line 195, ../sass/all/popup-menu.scss */
.popup-menu-mob li .dropdown-toogle + ul li a:hover {
    color: #395669;
    opacity: 1;
}

/* line 205, ../sass/all/popup-menu.scss */
.popup-menu-mob li .dropdown-toogle.dropdown-toogle-slide + ul {
    transform: scaleY(1) translate(-50%, 0%);
    height: auto;
    position: relative;
    margin-bottom: 20px;
    transition: .5s all;
}

@media only screen and (min-width: 120px) and (max-width: 709px) {
    .popup-active {
        overflow-y: auto;
    }

    /* line 219, ../sass/all/popup-menu.scss */
    .open-btn {
        display: flex;
    }
}

.uk-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
}

.uk-notification {
    width: 320px;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.uk-notification strong {
    font-weight: bold;
}

.uk-notification.uk-notification-success {
    background: #0d8c00;
    color: #fff;
    font-size: 16px;

}

.uk-notification.uk-notification-danger {
    background: #f3443f;
    color: #fff;
    font-size: 16px;

}

.CardBox a[data-id] {
    display: none;
}

.CardBox a[data-id].active {
    display: block;
}

.CardBox .CardBoxDesc .CardBoxPrice .CardBoxPriceLiked {
    outline: none;
    background: url(/img/icon/Vector_Smart.png) center center no-repeat;
    background-size: contain;
    width: 25px;
    height: 20px;
    cursor: pointer;
    border: none;
    padding: 0;
    z-index: 5;
}

.Specifications {
    max-width: 620px;
    margin: 70px auto;
    overflow-x: auto;

}

.Specifications .Specifications-title {
    color: #000000;
    font-family: "Montserrat - Semi Bold";
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
}

.Specifications .name-field {
    min-width: 250px;
    text-align: left;
    border-top: 1px solid #dedede;
    color: #010101;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    box-sizing: border-box;

}

.Specifications .value-field {
    min-width: 370px;
    background-color: #f6f8f9;
    padding: 15px;
    text-align: center;
    border-top: 1px solid #dedede;
    color: #010101;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    box-sizing: border-box;
}

.Specifications th:last-child .name-field, .Specifications tr:last-child .name-field {
    border-bottom: 1px solid #dedede;
}

.Specifications th:last-child .value-field, .Specifications tr:last-child .value-field {
    border-bottom: 1px solid #dedede;
}

.value-field span[class*="color"] {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    display: inline-block;
    margin-right: 5px;
}

.value-field span.color-brown {
    background-color: #59472f;
}

.value-field span.color-cream {
    background-color: #dcc4b9;
}

.value-field span.color-gray {
    background-color: #676767;
}

.value-field span.color-white {
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
}

.value-field span.color-graphite {
    background-color: #454343;
}

.value-field span.color-red {
    background-color: #eb0000;
}

.value-field span.color-orange {
    background-color: #FFA500;
}


.search-modal {
    position: relative;
    left: 0;
    width: 100%;
    min-height: calc(100vh - 300px);
    background: #fff;
    padding: 40px 0;

}


.search-modal-title {
    color: #010101;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 500;
    margin: 0 auto 40px auto;
    text-align: center;
}

.uk-search-cover {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    flex-direction: column;
}

[class*=uk-inline] {
    display: inline-block;
    position: relative;
    max-width: 100%;
    vertical-align: middle;
    -webkit-backface-visibility: hidden;
    box-sizing: border-box;
    width: 700px;
}

.uk-search-cover input[type=text], .uk-search-cover input[type=password] {
    border: none;
    color: #010101;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.uk-form-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #999;
    right: 0;
    left: auto;
}

.uk-list.uk-search-list {
    display: block;
    width: 700px;
}

.uk-list.uk-search-list li {
    padding: 15px;
}

.uk-list.uk-search-list li a {
    color: #395669;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
}

.uk-notification:first-child {
    margin-top: 50px;
}

.uk-notification.uk-notification-success {
    background: #395669;
}


.pagination {
    display: flex;
    justify-content: center;
}

.pagination .page-item {
    display: inline-block;
    margin: 0 15px;
    padding: 3px 8px;
    background: #f3f3f3;
}

.pagination .page-item.active {

    background: #0D4E7B;
}

.pagination .page-item.active span {
    color: #fff;
}

.pagination .page-item a {
    color: #000;
}
